* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #c4c4c4;
}

.redes a img {
    width: 40px;
    display: inline-block;
    margin: 15px;
}

header {
    max-width: 1500px;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a {
    transition: font-size 0.3s ease, box-shadow 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
    font-size: 20px;
}

section h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    margin: 40px;
}

.image-container {
    position: relative;
    width: 600px;
    height: 500px;
    overflow: hidden; 
    margin: 0 100px; 
    display: inline-block; 
    margin-top: 200px;
}

.image-container img {
    width: 100%;
    height: 100%;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8); 
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.image-container:hover .overlay {
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.contenedor {
    text-align: center;
}

.icon-cards {
    position: relative;
    width: 90vw; 
    height: 60vw; 
    max-width: 1000px; 
    max-height: 600px; 
    margin: 0 auto; 
    color: white;
    perspective: 1000px;
    transform-origin: center;
    display: flex;  
    justify-content: center; 
    align-items: center;  
}

.icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-45vw) rotateY(0);
    animation: carousel 12s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90vw;  
    height: 60vw; 
    max-width: 1000px;  
    max-height: 600px; 
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    border-radius: 6px;
    transform-origin: center;
}

.icon-cards__item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 6px; 
}

.icon-cards__item:nth-child(1) {
    background: #FDD94F;
    transform: rotateY(0) translateZ(45vw); 
}

.icon-cards__item:nth-child(2) {
    background: #F87949;
    transform: rotateY(90deg) translateZ(45vw); 
}

.icon-cards__item:nth-child(3) {
    background: #FBAB48;
    transform: rotateY(180deg) translateZ(45vw); 
}

.icon-cards__item:nth-child(4) {
    background: #4FBAF8;
    transform: rotateY(270deg) translateZ(45vw); 
}

@keyframes carousel {
    0%, 20%  { transform: translateZ(-45vw) rotateY(0); } 
    25%, 45%  { transform: translateZ(-45vw) rotateY(-90deg); } 
    50%, 70%  { transform: translateZ(-45vw) rotateY(-180deg); } 
    75%, 95% { transform: translateZ(-45vw) rotateY(-270deg); } 
    100% { transform: translateZ(-45vw) rotateY(-360deg); } 
}

section h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    margin: 40px 0;
}

.testimonials-carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.testimonial-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    width: 300px;
    height: 400px; 
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.customer-name {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.testimonial-text {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.rating {
    display: flex;
    justify-content: center;
}

.star {
    font-size: 20px;
    color: #FFD700;
    margin: 0 2px;
}

.star:last-child {
    color: #ddd;
}

.owl-carousel .owl-item {
    display: flex;
    justify-content: center;
}

.owl-carousel .owl-item img {
    max-width: 100%;
    height: auto;
}
