* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #c4c4c4;
}

.redes a img {
    width: 40px;
    display: inline-block;
    margin: 15px;
}

header {
    max-width: 1500px;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a {
    transition: font-size 0.3s ease, box-shadow 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
    font-size: 20px;
}

section h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    margin: 40px;
}

.servicio {
    width: 400px;
    height: 300px;
    padding: 30px;
    margin: 20px;
    background: #f8f7f7;
    text-align: center;
    border-radius: 10px;
    justify-content: space-between;
}

.servicios {
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicio:hover {
    box-shadow: 10px 0px 30px rgb(255, 255, 255);
}

.servicio h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.servicio p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.servicio button{
  color: #318aac !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0,0,0,0);
  border: 2px solid;
  border-color: #318aac;
  transition: all 1s ease;
  position: relative;  
  margin-top: 60px;
}

.servicio button:hover {
  background: #318aac;
  color: #fff !important;
}

.producto {
    display: flex;
    align-items: flex-start; 
    margin-top: 50px; 
    justify-content: center;
}

.imagen {
    margin-right: 20px; 
}

.imagen img {
    width: 800px;
    height: auto;
    display: block;
}

.descripcion {
    max-width: 600px; /
}

.descripcion p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.descripcion a {
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    padding: 10px 15px;
    display: inline-block;
}

.descripcion a:hover {
    -webkit-box-shadow: -1px -2px 30px 5px rgba(255,255,255,1);
    -moz-box-shadow: -1px -2px 30px 5px rgba(255,255,255,1);
    box-shadow: -1px -2px 30px 5px rgba(255,255,255,1);
}